div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 14%;
}

div img {
	width: 270px;
	height: 95px;
	margin:5px;
}


.search {
	width: 570px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:5px;
}

.search:hover {
    border:1px solid #aaaaaa;
}

.button {
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	border-radius:2px;
}

.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}

